# 02-2 문자열 자료형
## 포맷 코드와 숫자 함께 사용하기

In [4]:
"%-10s" % "hi"

'hi        '

In [5]:
"%0.4f" % 3.141592

'3.1416'

## format 함수를 사용한 포매팅

In [8]:
"I eat {0} apples".format('delicious')

'I eat delicious apples'

In [10]:
"I ate {0} apples for {1} days".format(3, 7)

'I ate 3 apples for 7 days'

In [17]:
"I ate {number} apples for {day} days".format( day= 7, number= 3)

'I ate 3 apples for 7 days'

In [18]:
"{0:<10}".format('hi')

'hi        '

In [20]:
"{0:^10}".format('hi')

'    hi    '

In [24]:
"{0:=^10}".format('hi')

'====hi===='

In [25]:
"{0:!<10}".format('hi')

'hi!!!!!!!!'

In [27]:
"{0:10.4f}".format(3.141592)

'    3.1416'

In [35]:
"{{and}}".format(35)

'{and}'

In [37]:
name =  '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [40]:
d =  {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [56]:
f'{"hi":<10}'
f'{"hi":>10}'
f'{"hi":^10}'
f'{"hi":=<10}'
f'{"hi":!<10}'
f'{3.141592:0.4f}'
f'{3.131592:10.4f}'

'    3.1316'

In [57]:
f'{{and}}'

'{and}'

## 문자열 관련 함수들

In [60]:
a = "Python is the best choice"


a.index('t')

2

In [64]:
" ".join(['a', 'b', 'c', 'd'])

'a b c d'

In [65]:
a = " hi "
a.rstrip()

' hi'

# 02 - 3 리스트 자료형
## 리스트 관련 함수들

In [2]:
a = [1, 2, 3]
a.index(3)
a.index(2)

1

In [6]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [11]:
a = [1, 2, 3, 1, 2, 3]
a.remove(1)
a.remove(1)
print(a)

[2, 3, 2, 3]

In [15]:
a = [1, 2, 3]
a.pop()
print(a)

[1, 2]

In [17]:
a = [1, 2, 3]
a.pop(1)
print(a)

[1, 3]

In [20]:
a = [1, 2, 3, 1]
a.count(1)

2

In [26]:
a = [1, 2, 3]
a.extend([4, 5])
a

a.append([6,7])
a

[1, 2, 3, 4, 5, [6, 7]]

# 02-4 튜플 자료형

### 리스트는 생성, 삭제, 수정 가능
### 튜플은 그 값을 바꿀 수 없
 ### => 인덱싱이나 슬라이싱은 가능

# 02-5 딕셔너리 자료형

### Key, Value 한 쌍으로 갖는 자료형

In [30]:
dic = {'name': '주호', 'phone': '01076087913', 'birth': '1118'}
dic['name']

'주호'

## 딕셔너리 쌍 추가하기

In [34]:
a = {1: 'a'}
a[2] = 'b'
a
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [38]:
info = {'name': '만수', 'hobby': 'study'}
info['name'] = '주호'

info

{'name': '주호', 'hobby': 'study'}

## 딕셔너리 관련 함수들

### Key 리스트 만들기 (keys)

In [40]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()

for k in a.keys():
    print(k)

name
phone
birth

In [43]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
list(a.keys())
a.values()

dict_values(['pey', '0119993323', '1118'])

In [49]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.items()

for k in a.items():
    print(k)
    
list(a.items())

('name', 'pey')
('phone', '0119993323')
('birth', '1118')

[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]

## Key로 Value 얻기

In [55]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.get('name')
a.get('phone')
a.get('ss', '그런거 없어요')

'그런거 없어요'

# 02-6 집합 자료형

In [63]:
s1 = set([1, 2, 3])
s1
s2 = set('Hello')
s2

s1 & s2

set()

In [70]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([5, 6, 7, 8])
s1.intersection(s2)
s1 & s2

{5}

In [81]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([5, 6, 7, 8])
s1 | s2
s1.union(s2)
s1.add(6)
s1
s1.update([7, 8, 9])
s1
s1.remove(2)
s1

{1, 3, 4, 5, 6, 7, 8, 9}

## 자료형의 값을 저장하는 공간, 변수
### 리스트를 복사하고자 할 때

In [88]:
a = [1, 2, 3]
b = a[:]
a[1] = 7 
a
b

[1, 2, 3]

In [94]:
a = [1, 2, 3]
from copy import copy
b = copy(a)


b is a

False

# 02장 연습문제

In [96]:
#Q1
print((80 + 75 + 55)/3)

70.0

In [100]:
#Q2
a = int(input())

if a % 2 == 1:
    print("홀수")
else:
    print("짝수")

24
짝수

In [104]:
#Q3
id_number = '881120-1068234'
print(id_number[:2], id_number[2:4], id_number[4:6], id_number[7:])

88 11 20 1068234

In [106]:
#Q4
pin = "881120-1068234"
print (pin[7])

1

In [108]:
#Q5
a = "a:b:c:d"
a.replace(':', '#')

'a#b#c#d'

In [116]:
#Q6
a = [1, 3, 5, 4, 2]
a.sort(reverse = True)
a

[5, 4, 3, 2, 1]

In [138]:
#Q7
a = ['Life', 'is', 'too', 'short']
" ".join(a)

'Life is too short'

In [139]:
#Q8
(1, 2, 3) + (4,)

(1, 2, 3, 4)

In [140]:
[1,2,3] + [4]

[1, 2, 3, 4]

In [125]:
#Q9
a = dict()
a[('a', )] = 'python'
a

{('a',): 'python'}

In [142]:
#Q10
a = {'A' : 90, 'B' : 80, 'C' : 70}
a.pop('B')
print(a)

{'A': 90, 'C': 70}

In [132]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]

In [136]:
a = b= [1, 2, 3]
a is b

True