## while문 강제로 빠져나가기

##### coffee = 10


while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee - 1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." %(money - 300))
        coffee = coffee - 1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

## while문의 맨 처음으로 돌아가기

In [7]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

## for문

In [2]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number += 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number += 1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

In [3]:
type(range(10))

range

In [8]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end = ' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 리스트 내포 사용하기

In [10]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [15]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [3]:
dic = {i: i * 3 for i in range(10)}
print(dic)

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27}

### [표현식 for 항목 in 반복가능개체 if 조건문]

In [2]:
#Q2
num = 0
i = 1
while i <=  1000:
    if i % 3 == 0:
        num = num + i
    i = i + 1
print(num)

166833

In [6]:
#Q3
i = 1
while i <= 5:
    print("*" * i)
    i = i + 1

*
**
***
****
*****

In [8]:
#Q4
for i in range (100):
    print(i +1, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [11]:
#Q5
marks = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0
for i in marks:
    total = total + i
average = total / len(marks)

print(average)

79.0

In [16]:
#Q6
numbers = [1, 2, 3, 4, 5]
a = [n * 2 for n in numbers if n % 2 == 1]
print(a)

[2, 6, 10]